<div class="card mb-3">
    <div class="row">
        <div class="col-3">
            <img src="../../assets/images/1.jpeg" alt="" class="img-fluid rounded-start">
        </div>
        <div class="col-9">
            <div class="card-body">
                <h5 class="card-title">Iphone 11</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo distinctio adipisci voluptatem officiis! Obcaecati impedit iusto veritatis, ullam eligendi ex.</p>
            </div>
        </div>
    </div>
</div>